/* COLOR PALETTE: #fffbbe #eec1ea #be97dc #a374d5 */
/* PAGE STYLE */
header,
footer {
	margin: 0;
	border: 0;
	padding: 0 1em;
	color: #a374d5;
	text-align: center;
	overflow: auto;
}
html,
body {
	margin: 0;
	border: 0;
	padding: 20px;
	color: #be97dc;
	font-family: Poppins Light, sans-serif;
	font-size: 16px;
	background: linear-gradient(
		109.6deg,
		rgba(0, 0, 0, 0.93) 11.2%,
		rgb(63, 61, 61) 78.9%
	);
}
/* FONT SIZES https://type-scale.com/ (base size 16px, Perfect Fourth ratio) */
h1 {
	color: #eec1ea;
	font-family: Poppins Black, cursive;
	font-size: 67.34px;
}
h2 {
	color: #eec1ea;
	font-family: Poppins Black, sans-serif;
	font-size: 50.52px;
}
h3 {
	color: #eec1ea;
	font-family: Poppins Black, sans-serif;
	font-size: 37.9px;
}
h4 {
	color: #eec1ea;
	font-family: Poppins Black, sans-serif;
	font-size: 28.43px;
}
h5 {
	color: #eec1ea;
	font-family: Poppins Black, sans-serif;
	font-size: 21.33px;
}
h6 {
	color: #eec1ea;
	font-family: Poppins Black, sans-serif;
	font-size: 16px;
}
div {
	margin-top: 5px;
	margin-bottom: 5px;
}
a {
	color: #fffbbe;
}
hr {
	height: 3px;
	background-color: #a374d5;
	border-color: #a374d5;
}
.tagline {
	color: #a374d5;
	font-size: 21.33px;
	font-family: Concert One, Monospace;
}

/* FLEXBOX STUFF */
*,
*::before,
*::after {
	box-sizing: border-box;
}
#gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 4px;
}
#gallery img {
	width: 50%;
	height: 300px;
	object-fit: cover;
	margin-top: 8px;
	padding: 0 4px;
	border-radius: 10px;
}
#cat-pic img {
	width: 30%;
	height: 600px;
	object-fit: cover;
	margin-top: 8px;
	padding: 0 4px;
	border-radius: 10px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: 0;
	padding-left: 0;
	margin-top: 0;
}
@media (max-width: 1200px) p.intro {
	padding: 40px 0 0;
	background: none;
}
p.intro {
	font-weight: 600;
	font-size: 25px;
	line-height: 48px;
	padding: 40px;
	border-radius: 20px;
	background: #131520;
}
