// FONTS
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$line-height-base: 1.42857;
$headings-font-weight: 500;

// COLORS
$brand-primary: #337ab7; // your main color
$brand-success: #5cb85c; // green
$brand-info: #5bc0de; // blue
$brand-warning: #f0ad4e; // yellow
$brand-danger: #d9534f; // red
$gray-light: #777777; // muted text
$gray-lighter: #dddddd; // lines