@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLOR PALETTE: #fffbbe #eec1ea #be97dc #a374d5 */
/* PAGE STYLE */
html {
	min-height: 100%;
}

body {
	width: 100%;
	color: #be97dc;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(109.6deg,
			rgba(0, 0, 0, 0.93) 11.2%,
			rgb(63, 61, 61) 78.9%);
}

header,
footer {
	margin: 0;
	border: 0;
	padding: 0 1em;
	color: #a374d5;
	text-align: center;
	overflow: auto;
}

a {
	color: #fffbbe;
}

hr {
	height: 3px;
	background-color: #a374d5;
	border-color: #a374d5;
}

/* MY CUSTOM CLASSES */
.my-tagline {
	color: #a374d5;
	font-size: 21.33px;
	font-family: 'Bebas Neue', Monospace;
}

.my-name {}

.my-intro {
	border-radius: 20px;
	background: #131520;
}