/* COLOR PALETTE: 
#fffbbe #eec1ea #be97dc #a374d5 
*/

/* PAGE STYLE */
* {
	color: #eec1ea;
	font-family: 'Poppins', sans-serif;
}

html {
	min-height: 100%;
}

body {
	width: 100%;
	background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);

}

h2,
h3 {
	color: #a374d5;
}

a {
	color: #fffbbe;
}

hr {
	height: 3px;
	background-color: #a374d5;
	border-color: #a374d5;
}

/* MY CUSTOM CLASSES */
.my-name {
	color: #a374d5;
	font-family: 'Poppins', sans-serif;
	font-size: 4rem;
}

.my-tagline {
	color: #ff75ea;
	font-family: 'Bebas Neue', monospace;
}

.my-intro {
	border-radius: 20px;
	background: #131520;
}

/*
.header-text-effect-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.header-text-effect {
	color: #fff;
	font-size: 10vw;
	font-weight: 800;
	letter-spacing: 0.2em;
	line-height: 1.4;
	padding: 0 0.25em;
	text-shadow:
		0.1vw 0.1vw #4F4F4F55,
		0.1vw -0.1vw #4F4F4F55,
		-0.1vw 0.1vw #4F4F4F55,
		-0.1vw -0.1vw #4F4F4F55;
}

@supports ((-webkit-background-clip: text) and (-webkit-text-stroke: 3vw)) {
	.header-text-effect {
		background: linear-gradient(160deg, #ff75ea 0%, #fffbbe 60%, #a374d5 80%);
		-webkit-background-clip: text;
		-webkit-text-stroke: 3vw transparent;
	}
}
*/