html, body { 
    margin: 0; 
    border: 0; 
    padding: 0; 
    background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);    
    font-family: Poppins, sans-serif;
    font-size: 100%;
}
header { 
    margin: 0; 
    border: 0; 
    padding: 0 1em;  /* top-bottom, then left-right */
    color: #8306da; 
    font-family: Concert One, cursive;
    font-size: 150%;
    text-align: center; 
    overflow: auto;   /* ensures that header wraps around text */
}
#contentwrapper { 
    margin: 1em;
    overflow: auto; 
}

/* Default menu is for a mobile device, vertically oriented 
and taking up the full width of the viewport. */
nav { 
    margin: 0 auto; 
    border: 0; 
    padding: 0; 
    width: 100%; 
    display: block; 
    clear: both;  
    font-weight: bold; 
}
nav ul { 
    margin: 0; 
    border: 0; 
    padding: 0; 
    width: 100%;  
}
nav li { 
    margin: 0; 
    border: 0;
    padding: 0;
    display: block; 
    text-align: center; 
    list-style-type: none; 
    font-family: Poppins, sans-serif;
}
nav li a:link, nav li a:visited { 
    margin: 0; 
    border: 0;
    padding: 0.5em 0; 
    display: inline-block; 
    text-decoration: none; 
    width: 100%;
    color: rgb(120, 120, 120); 
}
nav li a:hover, nav li a:active { 
    color: rgb(120, 120, 120); 
}
footer { 
    margin: 0; 
    border: 0; 
    padding: 1em; 
    color: #8306da; 
    text-align: center; 
    overflow: auto; 
}
footer a:link { 
    color: #8306da; 
}
/* Padding will be added to sides as necessary */
.container {
    margin: 0 auto; 
    padding: 0;
    max-width: 600px; 
} 

/* Desktop display, for large-width desktop-sized display, 
all the way down to 600px wide*/
@media (min-width: 600px) { 
body { 
    font-size: 110%; 
}
header h1 {
    font-size: 180%; 
}
/* set up desktop menu */
nav { 
        margin: 0 auto; 
        border: 0; 
        padding: 0; 
        max-width: 600px;
        color: #333; 
        font-weight: bold;
}
nav li {
    margin: 0;
    border: 0;  
    padding: 0;
    text-align: left;
}
nav li a:link, nav li a:visited {
    margin: 0; 
    padding: 0.6em; 
    display: block; 
    text-decoration: none; 
    font-weight: bold; 
    color: rgb(48, 48, 48); 
    -webkit-transition:all 0.1s ease-in;  
    -moz-transition:all 0.1s ease-in;  
    -o-transition:all 0.1s ease-in;  
    transition:all 0.1s ease-in;
}
nav li a:hover, #menu li a:active {
    color: #000; 
    border-left: solid 5px #8306da;
}  
}