/* COLOR PALETTE: 
#fffbbe #eec1ea #be97dc #a374d5 
*/

/* PAGE STYLE */
* {
	color: #eec1ea;
	font-family: 'Poppins', sans-serif;
}

html {
	min-height: 100%;
}

body {
	width: 100%;
	background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);

}

h1,
h2,
h3 {
	color: #a374d5;
}

a {
	color: #fffbbe;
}

hr {
	height: 3px;
	background-color: #a374d5;
	border-color: #a374d5;
}

/* MY CUSTOM CLASSES */
.my-tagline {
	color: #a374d5;
	font-family: 'Bebas Neue', Monospace;
}

.my-name {
	font-size: 5rem;
}

.my-intro {
	border-radius: 20px;
	background: #131520;
}